/* CSS style file created by 
===============================================================
00: css var
01: colour
02: layout
03: typography
04: transition, animation, selector practice
05: any exploration
===============================================================
*/

/* 00 css var */
:root{
    --body-color: hsla(358, 59%, 34%, 1);
    --page-color: hsl(240, 90%, 99%);
    --sidebar-color: hsla(30, 40%, 50%, 1);
    --h1-color: hsla(36, 41%, 56%, 1);
    --h2-color: hsla(36, 41%, 56%, 1);
    --h3-color: hsla(36, 41%, 56%, 1);
    --page-width: 20%;
    --page-top: 88.94vh;

}

/* 01 colour */
body{
    background-color: var(--body-color);
}
#zen-intro{
    background-color: var(--page-color);
}
.sidebar{
    background-color: var(--sidebar-color);
}
h1{
    background-color: var(--h1-color);
}
h2{
    background-color: var(--h2-color);
}
h3{
    background-color: var(--h3-color);
}

/** 02 Layout **/
div.explanation, div.requirements, div.benefits, div.participation{
    position: fixed;
    width: var(--page-width);
    top: var(--page-top);
}

div.explanation{
    width: 225px;
}
div.requirements{
    left: 245px;
    width: 225px;
}
div.benefits{
    left: 482px;
    width: 225px;
}
div.participation{
    left: 719px;
    width: 225px;
}

aside.sidebar{
    position:absolute;
    top: 10%;
    right: 0;
    width: 15%;
    height: 800px;
    font-size: 10pt;
}
div.extra2{
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    height: 40px;
    background-color: var(--h1-color);
}
div.extra1{
    position: fixed;
    left: 20%;
    width: 500px;
    height: 90vh;
    top: 10%;
    background-image: url(../img/newspaper2.jpg);
    z-index: -1;
    transform: rotate(10deg);
    box-shadow: 5px 5px 5px rgb(55, 54, 54);
}
section.intro{
    position: absolute;
    width: 500px;
    height: 90vh;
    left: 15%;
    top: 10%;
    background-image: url(../img/newspaper3.jpg);
    transform: rotate(357deg);
    padding: 10px;
    box-shadow: 5px 5px 5px rgb(55, 54, 54);
}
/* file tab */
div.explanation h3, div.requirements h3, div.benefits h3, div.participation h3{
    margin-left: 5%;
    text-align: center;
    border-top-left-radius: 4px;
    border-top-right-radius: 15px;
}
div.explanation p, div.requirements p, div.benefits p, div.participation p{
    width: 100vh;
    background-color: var(--h3-color);
}
/* 03 typography */
@font-face{
    font-family: 'fontA';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/chunkfive.woff);
}
header.h1{
    font-family: 'fontA', sans-serif;
    font-weight: 100px;
    font-size: 1.25em;
    letter-spacing: normal;
    line-height: 1em;
    text-transform: uppercase;
}
header.h2{
    font-family: "Playfair Display", serif;
}
a{
    text-decoration: none;
}
li{
    list-style-type: none;
    display: inline-block;
}
/* 04: transition, animation, selector practice */
/* selector */
a:hover{
    font-weight: bold;
}
h3:hover{
    color: red;
    font-weight: bolder;
}
div.explanation:active{
    transition-duration: 3s;
    top: 10vh;
    height: 90vh;
}
div.requirements:active{
    transition-duration: 3s;
    top: 10vh;
    height: 90vh;
}
div.benefits:active{
    transition-duration: 3s;
    top: 10vh;
    height: 90vh;
}
div.participation:active{
    transition-duration: 3s;
    top: 10vh;
    height: 90vh;
}
p::first-line{
    font-size: 1.25em;
}
p:nth-child(2n){
    background-color: rgb(245, 230, 215);
}
p:nth-child(2n+1){
    background-color: rgb(200, 187, 174);
}
ul {
    display: flex;
    flex-wrap: wrap;
    width: 55%;
}
section.intro h3 ~ p {
    text-transform: capitalize;
    opacity: 1;
    transition:all 3s ease-in-out;
}
section.intro h3:hover ~ p {
    opacity: 0;
    transform: scale(0.5);
}
h2 {
    background-image: linear-gradient(0deg,red, yellow, blue);
    animation: 1s infinite running changeColor;
}
@keyframes changeColor {
    from{background-image: linear-gradient(90deg, red, purple, blue);}
    25%{background-image: linear-gradient(135deg, red, purple, blue);}
    50%{background-image: linear-gradient(180deg, red, purple, blue);}
    75%{background-image: linear-gradient(225deg, red, purple, blue);}
    to{background-image: linear-gradient(270deg, red, purple, blue);}
}
footer {
    position: fixed;
    bottom: 1vh;
    z-index: 4;
    animation: 10s ease-in-out infinite running backandforth;
}
@keyframes backandforth {
    from{transform: translateX(5vh);}
    50%{transform: translateX(176vh);}
    to{transform: translateX(5vh);}
}
aside.sidebar{
    clip-path: polygon(0 0, 0 60%, 46% 70%, 90% 60%, 90% 0);
}
/* div{background-color: hsla(200,50%,70%,0.3);}
.wrapper {background-color: white; display: grid; grid-template-columns: 100px  repeat(2, 1fr) 100px;
  grid-gap: 10px; grid-auto-rows: minmax(100px, auto);}
.one{grid-column: 2/4; grid-row: 2/4;}
.two{grid-column: 1/ 4; grid-row: 1/2;}
.three{grid-row: 2/4;}
.four{grid-column: 4/ 5; grid-row: 1/3;}
.five{grid-column: 1/4; grid-row: 4/5;}
.six{grid-column: 3/5; grid-row: 3/5;}
  */